<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>58500942451-n637jeh89pqrkuaoihiad31do31h3kfv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.58500942451-n637jeh89pqrkuaoihiad31do31h3kfv</string>
	<key>API_KEY</key>
	<string>AIzaSyBRmm04THIF9yURjMUkt2Re13sgvYt2-2A</string>
	<key>GCM_SENDER_ID</key>
	<string>58500942451</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ivantuang.compasiamap</string>
	<key>PROJECT_ID</key>
	<string>compasiamap</string>
	<key>STORAGE_BUCKET</key>
	<string>compasiamap.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:58500942451:ios:d8f870a1d3a38a4ed5f806</string>
</dict>
</plist>